<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro Neón</title>
    <link rel="stylesheet" href="{% static 'estilos/style_registro.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Crear Cuenta</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario" required><br>
            <input type="email" name="email" placeholder="Correo electrónico" required><br>
            <input type="password" name="password" placeholder="Contraseña" required><br>
            <input type="submit" value="Registrarse">
        </form>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
